@font-face {
    font-family:"bree";
    src:url("https://use.typekit.net/af/e7f55d/00000000000000007735953f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/e7f55d/00000000000000007735953f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/e7f55d/00000000000000007735953f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
 }

.home_page_card {
    width: 262px;
    height: 270px;
    padding: 16px 0 16px 16px;
    border-radius: 8px;    
    box-shadow: 0px 4px 8px 0px rgb(0,0,0,0.08);
    position: relative;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.home_page_card h3 {
    font-family: bree, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #123D64;
    padding-bottom: 20px;
    text-align: center;
    margin-right: 16px;
    width: 100%;
}

.home_page_card p {    
     font-size: 14px;
     font-weight: 400;
     color: #595959;
     padding-bottom: 20px;
     margin-right: 16px;
     text-align: center;
 }

.light_blue {
    background: rgba(224, 242, 253, 0.6)
}
.light_gold {
    background: rgba(255, 239, 210, 0.5)
}
.light_green {
    background: rgba(216, 238, 239, 0.5)
}
.pink {
    background: rgba(243, 230, 240, 0.6)
}

.home_page_card_link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
}
.home_page_card_link a {
    display: inline-flex;
    background-color: #fff;
    border-radius: 60px 0 0 60px;
    height: 3.5rem;
    width: 3.9rem;
    align-items: center;
    justify-content: center;
}