.error{
    padding: .5rem 1rem;
    width: 100%;
    background-color: #c23934;
    color:white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border-radius: .25rem;
}

.spinner{
    border-radius: .3em;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
}

.loadingText {
    position: absolute;
    width: 20rem;
    text-align: center;
    top: calc(50% + 3rem);
    left: calc(50% + -10rem);
    font-weight: bold;
    color: #ffffff;
    overflow: hidden;
}