.error{
    padding: .5rem 1rem;
    width: 100%;
    background-color: #c23934;
    color:white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border-radius: .25rem;
}